= form_for fuel_card_brand do |f|
  = render partial: 'shared/error_messages', locals: { object: @fuel_card_brand }
  = f.label :brand_name
  = f.text_field :brand_name, size: 50, class: 'form-control'
  = f.submit yield(:button_text), class: 'btn btn-primary'
