%h1= t '.header'

%p= link_to t('.new'), new_fuel_card_brand_path

= will_paginate @fuel_card_brands

%table.table.table-striped.table-hover.table-condensed
  %thead
    %tr
      %th ID
      %th= @fuel_card_brands.human_attribute_name :name
      %th{colspan: "2"}
  %tbody
    - @fuel_card_brands.each do |brand|
      %tr
        %td= link_to brand.id, edit_fuel_card_brand_path(brand)
        %td= brand.name
        %td= link_to t(:show), fuel_card_brand_path(brand)
        %td= link_to t(:destroy), fuel_card_brand_path(brand),
          method: :delete, data: { confirm: t(:are_you_sure?) }

= will_paginate @fuel_card_brands
