- provide(:title, @fuel_card_brand.name)

%h1= t('.header')

%p
  %strong ID:
  = @fuel_card_brand.id
%p
  %strong= @fuel_card_brand.class.human_attribute_name(:name) + ':'
  = @fuel_card_brand.name
= link_to t(:edit), edit_fuel_card_brand_path(@fuel_card_brand)
|
= link_to t(:back), fuel_card_brands_path
