= form_for waybill do |f|
  = render partial: 'shared/error_messages', locals: { object: @waybill }

  = f.label :id
  = f.text_field :id, disabled: true

  = f.label :doc_no
  = f.text_field :doc_no

  = f.label :initial_date
  = f.text_field :initial_date

  = f.label :final_date
  = f.text_field :final_date

  = f.label :vehicle_id
  = f.text_field :vehicle_id

  = f.label :initial_mileage
  = f.text_field :initial_mileage

  = f.label :final_mileage
  = f.text_field :final_mileage

  = f.label :initial_fuel
  = f.text_field :initial_fuel

  = f.label :final_fuel
  = f.text_field :final_fuel

  = f.label :comment
  = f.text_area :comment

  = f.submit yield(:button_text)
