%h1 Listing waybills

%p= link_to 'New waybill', new_waybill_path

= will_paginate @waybills

%table
  %thead
    %tr
      %th ID
      %th Waybill No
      %th From
      %th Till
      %th Reg. No
      %th Car configuration
      %th Driver Name
      - #todo - add columns
  %tbody
    - @waybills.each do |waybill|
      %tr
        %td= link_to waybill.id, edit_waybill_path(waybill)
        %td= waybill.doc_no
        %td= waybill.initial_date
        %td= waybill.final_date
        %td= waybill.vehicle.vehicle_registration.reg_no
        %td= #todo
        %td= #todo
        %td= link_to 'Show', waybill_path(waybill)
        %td= link_to 'Destroy', waybill_path(waybill), method: :delete, |
          data: { confirm: 'Are you sure?' }

= will_paginate @waybills
