%h1= t('.header')

%p
  %strong ID:
  = @waybill.id
%p
  %strong=  Waybill.human_attribute_name(:doc_no) + ':'
  = @waybill.doc_no
%p
  %strong= Waybill.human_attribute_name(:initial_date) + ':'
  = @waybill.initial_date
%p
  %strong= Waybill.human_attribute_name(:final_date) + ':'
  = @waybill.final_date
%p
  %strong= VehicleRegistration.human_attribute_name(:reg_no) + ':'
  = @waybill.vehicle.vehicle_registration.reg_no
%p
  %strong Car configuration
  = #todo
%p
  %strong TODO: Add fields

%p
  = link_to t(:edit), edit_waybill_path(@waybill)
  |
  = link_to t(:back), waybills_path
