%h1 Listing checks

%p
  = link_to 'New check', new_check_path

%p
  = will_paginate @checks
%table
  %thead
    %tr
      %th ID
      %th Card No
      %th Timestamp
      %th Filling Station Address
      %th Product Name
      %th Quantity
      %th Price
      %th Amount
      %th Mileage
      %th Reg. No
      %th Make and Model
      %th VIN
      %th Driver Name
      %th Waybill No
      %th Cost Centre
      %th ??? type
      %th Comment
      %th{colspan: 17}
  %tbody
    - @checks.each do |check|
      %tr
        %td= link_to check.id, edit_check_path(check)
        %td= check.card_no
        %td= check.check_datetime.to_formatted_s(:db)
        %td= check.filling_station_address
        %td= check.product_name
        %td= number_with_precision(check.quantity, precision: 2)
        %td= number_to_currency(check.unit_price, precision: 2, unit: '')
        %td= number_to_currency(check.total_amount_vat_included, precision: 2, unit: '')
        %td= check.mileage
        %td= check.reg_no
        %td
          - if check.vehicle_id.present?
            = check.vehicle_make + ' ' + check.vehicle_model
          - else
            = ''
        %td= check.vin
        %td= 'ToDo'
        %td= 'ToDo'
        %td= 'ToDo'
        %td= 'ToDo'
        %td= check.comment
        %td= link_to 'Show', check_path(check)
        %td= link_to 'Destroy', check_path(check), method: :delete, |
          data: { confirm: 'Are you sure?' }
