%h1 Show check
%p#check= notice
%p
  %strong ID:
  = @check.id
%p
  %strong Card No:
  = @check.fuel_card.card_no
%p
  %strong Timestamp:
  = @check.check_datetime.to_formatted_s(:db)
%p
  %strong Filling Station Address:
  = @check.filling_station_address
%p
  %strong Product Name:
  = @check.product.name_ua
%p
  %strong Quantity:
  = number_with_precision(@check.quantity, precision: 2)
%p
  %strong Price:
  = number_to_currency(@check.unit_price, precision: 2, unit: '')
%p
  %strong Amount:
  = number_to_currency(@check.total_amount_vat_included, precision: 2, unit: '')
%p
  %strong ToDo: RegNo, Make and Model, Mileage, Driver Name, Comment etc.

%p
  = link_to 'Edit', edit_check_path(@check)
  = link_to 'Back', checks_path
