= form_for fuel_card do |f|
  = render partial: 'shared/error_messages', locals: { object: @fuel_card }

  .form-group
    = f.label :id
    = f.text_field :id, disabled: true, class: 'form-control'

  .form-group
    = f.label :card_no
    = f.text_field :card_no, size: 50, class: 'form-control'

  .form-group
    = f.label :fuel_card_brand_id
    = f.select :fuel_card_brand_id, @fuel_card_brand_list,
      { prompt: 'Select brand' }, class: 'form-control'

  .form-group
    = f.label :fuel_card_status_id
    = f.select :fuel_card_status_id, @fuel_card_status_list,
      { prompt: 'Select status' }, class: 'form-control'

  .form-group
    = f.label :notes
    = f.text_area :notes, rows: 3, class: 'form-control'

  = f.submit yield(:button_text), class: 'btn btn-primary'
