%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to 'fuel app', root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to t('.home'), root_path
        %li= link_to t('.help'), '#'
        %li= link_to t('.log_in'), '#'
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle': 'dropdown'}
            = t('.entities')
            %span.caret
          %ul.dropdown-menu
            %li= link_to t('.fuel_card_brands'), fuel_card_brands_path
            %li= link_to t('.fuel_cards'), fuel_cards_path
            %li= link_to t('.fill_ups'), fill_ups_path
            %li= link_to t('.waybills'), waybills_path
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle': 'dropdown'}
            %span.glyphicon.glyphicon-globe
            = "#{I18n.locale.capitalize}"
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'English', locale: "en"
            %li= link_to 'Українська', locale: "uk"
            %li= link_to 'Русский', locale: "ru"
