%header.navbar.navbar-fixed-top.navbar-inverse
  .container
    = link_to 'fuel app', root_path, id: 'logo'
    %nav
      %ul.nav.navbar-nav.navbar-right
        %li= link_to 'Home', root_path
        %li= link_to 'Help', '#'
        %li= link_to 'Log in', '#'
        %li.dropdown
          %a.dropdown-toggle{href: '#', 'data-toggle': 'dropdown'}
            Action
            %span.caret
          %ul.dropdown-menu
            %li= link_to 'Fuel card brands', fuel_card_brands_path
            %li= link_to 'Fuel cards', fuel_cards_path
            %li= link_to 'Fill-ups', checks_path
            %li= link_to 'Waybills', waybills_path
